#one {
    color:#ff0000;
    height: "20px";
    width: "100%";
    background-color: black;

}
#two{
    color:red;
    height: "20px";
    width: "100%";
    background-color: black;

}
#throe{
    color:red;
    height: "20px";
    width: "100%";
    background-color: yellow

}
#four {
    color:red;
    height: "20px";
    width: "100%";
    background-color: cyan;

}
#five {
    color:red;
    height: "20px";
    width: "100%";
    background-color: green;

}
#six {
    color:red;
    height: "20px";
    width: "100%";
    background-color: white;

}
#header1{
    color: yellow;
    background-color: black;
}
#headone {
    color: black'
    background-color: blue;
}
#headtwo {
    color: red;
    background-color: white;
}
#headthree{
    color:cyan;
    background-color: red;
}