#one {
    color:red;
    background-color: black;

}
#two{
    color:red;
    background-color: black;

}
#throe{
    color:red;
    background-color: black;

}
#four {
    color:red;
    background-color: black;

}
#five {
    color:red;
    background-color: black;

}
#six {
    color:red;
    background-color: black;

}
